

.container{
    background-color: rgb(235, 241, 237);
    padding-left: 0px;
    margin: 30px 0px 20px 10%; 
    justify-content:space-between;
    border-bottom: rgb(204, 204, 206) 0.5px solid; 
    padding: 30px 0px 20px 30px;
}

#currentjob{
   opacity:40%;
}